
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url(adback1.jpg);
    background-size: 100%;
}

  
.topnav {
    overflow: hidden;
    background-color: #000000;
    display: flex;
    font-family: "Cormorant Garamond", serif;

    
}
  
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.adm {
    background-color: #ff0000;
    color: white;
}
.topnav .reg{
    color: aqua;
}
img{
    top: 0;
    left: 0;
    padding: 0;
    width: 60px;
    height: 40px;

}
.logo{
    margin-top: 15px;
    font-size: 2em;
    color: rgb(255, 255, 255);
    user-select: none;
    margin-right: 60%;
}
.topnav .logo{
    font-size: 80%;
}


.box{
    position: absolute;
    margin-top: 7%;
    margin-left: 35%;
    width: 380px;
    height: 420px;
    background: #cac0c0;
    border-radius: 8px;
    overflow: hidden;  /* it hides the overflow of the backgrounf */
}
.box::before{
    content: ' ';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;  /*side of the gradiant*/
    background: linear-gradient(0deg,transparent,transparent,#0011ff,#0011ff,#0011ff);
}
.box::after{
  
    content: ' ';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;  /*side of the gradiant*/
    background: linear-gradient(0deg,transparent,transparent,#15ff00,#15ff00,#15ff00);
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: rgb(196, 182, 182);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #00ffb7;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;

}
.box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;

}
.box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span{
    color: #000000;
    font-size: 0.75em;
    transform: translateY(-34px);

}
.box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i{
    height: 80%;
}

.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #113b07;
    text-decoration: none; /* removes text decoo like underline*/
}
.box form .links a:hover{
    color: white;
}
.box form input[type="submit"]{
border: none;
outline: none;
padding: 9px 25px;
background: white;
cursor: pointer; /* change cursor .. */
font-size: 0.9em;
border-radius: 4px;
font-weight: 600;
width: 30%;
margin-top: 10px;
}
.box form input[type="submit"]:active{
    opacity: 0.8;
}
.submit{
    color: #000000;
    background: #290fd1;
    font-size: 150%;
    border-radius: 8px;
    width: 30%;
    height: 10%;
    font-weight: 600;
    padding: 2px ;
    cursor: pointer;
    align-items: center;
    text-align: center;
}